body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  fieldset {
      text-align: center;
      background: #f07f4b
  }
  #button1,
  #button2 {
      align-content: center;
  }
  input[type=text] {
      background: #f1e2db
  }
  body {
      font-family: 'Raleway', sans-serif;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  fieldset {
      text-align: center;
      background: #c25e30;
      color: white;
  }
  #button1,
  #button2 {
      align-content: center;
  }
  input[type=text] {
      background: #f1e2db
  }
  body {
      font-family: 'Raleway', sans-serif;
  }
}

@media screen and (min-width: 769px) {
  fieldset {
      text-align: center;
      background: #f07f4b
  }
  #button1,
  #button2 {
      text-align: center;
  }
  input[type=text] {
      background: #f1e2db
  }
  body {
      font-family: 'Raleway', sans-serif;
  }
}
